.tabs-container{
	overflow:hidden;
	background:#fff;
}
.tabs-header{
	border:1px solid #8DB2E3;
	border-bottom-width:0;
	background:#E0ECFF;
	position:relative;
	overflow:hidden;
	padding:0px;
	padding-top:2px;
	overflow:hidden;
}
.tabs-header-plain{
	border:0px;
	background:transparent;
}
.tabs-scroller-left{
	position:absolute;
	left:0px;
	top:-1px;
	width:18px;
	height:28px!important;
	height:30px;
	border:1px solid #8DB2E3;
	font-size:1px;
	display:none;
	cursor:pointer;
	background:#E0ECFF url('images/tabs_leftarrow.png') no-repeat center center;
}
.tabs-scroller-right{
	position:absolute;
	right:0;
	top:-1px;
	width:18px;
	height:28px!important;
	height:30px;
	border:1px solid #8DB2E3;
	font-size:1px;
	display:none;
	cursor:pointer;
	background:#E0ECFF url('images/tabs_rightarrow.png') no-repeat center center;
}
.tabs-tool{
	position:absolute;
	top:-1px;
	border:1px solid #8DB2E3;
	padding:1px;
	background:#E0ECFF;
	overflow:hidden;
}
.tabs-header-plain .tabs-scroller-left{
	top:2px;
	height:25px!important;
	height:27px;
}
.tabs-header-plain .tabs-scroller-right{
	top:2px;
	height:25px!important;
	height:27px;
}
.tabs-header-plain .tabs-tool{
	top:2px;
	padding-top:0;
}
.tabs-scroller-over{
	background-color:#ECF9F9;
}
.tabs-wrap{
	position:relative;
	left:0px;
	overflow:hidden;
	width:100%;
	margin:0px;
	padding:0px;
}
.tabs-scrolling{
	margin-left:18px;
	margin-right:18px;
}
.tabs-disabled{
	opacity:0.3;
	filter:alpha(opacity=30);
}
.tabs{
	list-style-type:none;
	height:26px;
	margin:0px;
	padding:0px;
	padding-left:4px;
	font-size:12px;
	width:5000px;
	border:1px solid #8DB2E3;
	border-width:0 0 1px 0;
}
.tabs li{
	float:left;
	display:inline-block;
	margin-right:4px;
	margin-bottom:-1px;
	padding:0;
	position:relative;
	border:1px solid #8DB2E3;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}
.tabs li a.tabs-inner{
	display:inline-block;
	text-decoration:none;
	color:#416AA3;
	background:url('images/tabs_enabled.png') repeat-x left top;
	margin:0px;
	padding:0px 10px;
	height:25px;
	line-height:25px;
	text-align:center;
	white-space:nowrap;
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}
.tabs li a.tabs-inner:hover{
	background:url('images/tabs_active.png') repeat-x left bottom;
}
.tabs li.tabs-selected{
	border-bottom:1px solid #fff;
}
.tabs li.tabs-selected a.tabs-inner{
	color:#416AA3;
	font-weight:bold;
	background:#7eabcd url('images/tabs_active.png') repeat-x left bottom;
	outline: none;
}
.tabs li.tabs-selected a:hover.tabs-inner{
	cursor:default;
	pointer:default;
}
.tabs-p-tool{
	position:absolute;
	right:16px;
	top:7px;
	display:block;
}
.tabs-p-tool a{
	display:inline-block;
	font-size:1px;
	width:12px;
	height:12px;
	opacity:0.6;
	filter:alpha(opacity=60);
}
.tabs-p-tool a:hover{
	opacity:1;
	filter:alpha(opacity=100);
	cursor:hand;
	cursor:pointer;
	background-color:#8DB2E3;
}
.tabs-with-icon{
	padding-left:18px;
}
.tabs-icon{
	position:absolute;
	width:16px;
	height:16px;
	left:10px;
	top:5px;
}
.tabs-closable{
	padding-right:8px;
}
.tabs li a.tabs-close{
	position:absolute;
	font-size:1px;
	display:block;
	padding:0px;
	width:11px;
	height:11px;
	top:7px;
	right:5px;
	opacity:0.6;
	filter:alpha(opacity=60);
	background:url('images/tabs_close.gif') no-repeat 2px 2px;
}
.tabs li a:hover.tabs-close{
	opacity:1;
	filter:alpha(opacity=100);
	cursor:hand;
	cursor:pointer;
	background-color:#8DB2E3;
}

.tabs-panels{
	margin:0px;
	padding:0px;
	border:1px solid #8DB2E3;
	border-top-width:0;
	overflow:hidden;
}

.tabs-header-bottom{
	border-width:0 1px 1px 1px;
	padding:0 0 2px 0;
}
.tabs-header-bottom .tabs{
	border-width:1px 0 0 0;
}
.tabs-header-bottom .tabs li{
	margin:-1px 4px 0 0;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}
.tabs-header-bottom .tabs li.tabs-selected{
	border:1px solid #8DB2E3;
	border-top:1px solid #fff;
}
.tabs-header-bottom .tabs li a.tabs-inner{
	background-position:left top;
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}
.tabs-header-bottom .tabs-tool{
	top:0;
}
.tabs-header-bottom .tabs-scroller-left,.tabs-header-bottom .tabs-scroller-right{
	top:0;
	bottom:auto;
}
.tabs-panels-top{
	border-width:1px 1px 0 1px;
}

.tabs-header-left{
	float:left;
	border-width:1px 0 1px 1px;
	padding:0;
}
.tabs-header-left .tabs-wrap{
	height:100%;
}
.tabs-header-left .tabs{
	height:100%;
	padding:4px 0 0 4px;
	border-width: 0 1px 0 0;
}
.tabs-header-left .tabs li{
	display:block;
	width:100%;
	margin:0;
	margin-bottom:4px;
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	border-right-width:0;
	position:relative;
	right:1px;
}
.tabs-header-left .tabs li.tabs-selected{
	right:0px;
	border-right-width:0;
	border-bottom:1px solid #8DB2E3;
}
* html .tabs-header-left .tabs li.tabs-selected{
	\right:-1px;
}
.tabs-header-left .tabs li.tabs-selected a.tabs-inner{
	background:#fff;
}
.tabs-header-left .tabs li a.tabs-inner{
	-moz-border-radius:5px 0 0 5px;
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	display:block;
	text-align:left;
}
.tabs-panels-right{
	float:right;
	border-width:1px 1px 1px 0;
}

.tabs-header-right{
	float:right;
	border-width:1px 1px 1px 0;
}
.tabs-header-right .tabs{
	border-width:0 0 0 1px;
	padding:4px 4px 0 0;
}
.tabs-header-right .tabs li{
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
	border-width:1px 1px 1px 0;
	left:0px;
	right:auto;
}
.tabs-header-right .tabs li.tabs-selected{
	left:-1px;
	right:auto;
	border-left-width:0;
	border-width:1px 1px 1px 0;
	border-bottom:1px solid #8DB2E3;
}
.tabs-header-right .tabs li a.tabs-inner{
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
}
.tabs-panels-left{
	float:left;
	border-width:1px 0 1px 1px;
}

.tabs-header-noborder,.tabs-panels-noborder{
	border:0px;
}
.tabs-header-plain{
	border:0px;
	background:transparent;
}
