.icon-blank{
	background:url('icons/blank.gif') no-repeat;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat 3px 2px;
}

.icon-servers{
	background:url('icons/servers.png') no-repeat;
}
.icon-server{
	background:url('icons/server.png') no-repeat;
}
.icon-server-error{
	background:url('icons/server_error.png') no-repeat;
}
.icon-home{
	background:url('icons/home.png') no-repeat;
}
.icon-download{
	background:url('icons/download1.png') no-repeat;
}
.icon-seed{
	background:url('icons/seed.png') no-repeat;
}
.icon-warning{
	background:url('icons/warning.png') no-repeat;
}
.icon-error{
	background:url('icons/stop.png') no-repeat;
}
.icon-pause{
	background:url('icons/pause.png') no-repeat;
}
.icon-check{
	background:url('icons/yin-yang.png') no-repeat;
}
.icon-actively{
	background:url('icons/actively.png') no-repeat;
}
.icon-wait{
	background:url('icons/wait.png') no-repeat;
}

.icon-chart{
	background:url('icons/chart.png') no-repeat;
}